[role='tablist'] {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

[role='tab'] {
  flex: 1;
  padding: 0.5rem 1rem;
  border: 2px solid black;
  border-radius: 0.75rem;
  cursor: pointer;

  &:focus-visible {
    outline: 2px solid var(--brand-secondary);
    outline-offset: 2px;
  }

  &[aria-selected='true'] {
    background: var(--brand-secondary);
    border-color: var(--brand-secondary);
    color: white;
  }
}

@media screen and (width < 350px) {
  .tabs-container {
    display: flex;
    gap: 1rem;
  }

  [role='tablist'] {
    flex-direction: column;
    height: fit-content;
  }
}
