[role='tablist'] {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
}

[role='tab'] {
  padding: 0.5rem 1rem;
  border: 2px solid black;
  border-radius: 0.75rem;
  cursor: pointer;

  &:focus-visible {
    outline: 2px solid rgb(65, 65, 212);
    outline-offset: 2px;
  }

  &[aria-selected='true'] {
    background: rgb(65, 65, 212);
    border-color: rgb(65, 65, 212);
    color: white;
  }
}
