.clearable-input {
  display: flex;
  width: fit-content;
  border: 1px solid var(--brand-secondary);
  border-radius: 0.5rem;

  &:has(input:focus) {
    outline: 1px solid var(--brand-secondary);
  }

  input {
    flex: 1;
    border: none !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:focus-visible {
      outline: none !important;
    }
  }

  button.clear {
    width: 32px;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    &:hover {
      background-color: var(--brand-slate);
    }

    &:active {
      background-color: hsl(from var(--brand-slate) h s 90%);
    }

    &:focus-visible {
      outline: 2px solid var(--brand-secondary);
    }
  }
}

.options-list {
  display: grid;
  gap: 1rem;
  margin-bottom: 1rem;

  li {
    max-width: 40ch;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    border: 1px solid var(--brand-secondary);
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;

    &:first-child {
      margin-top: 1rem;
    }

    p {
      margin: 0;
    }

    button.remove {
      width: 3ch;
      aspect-ratio: 1;
      border: 2px solid var(--brand-primary);
      border-radius: 0.5rem;
      color: var(--brand-primary);
      font-weight: 700;

      &:hover {
        background-color: var(--brand-slate);
      }

      &:focus-visible {
        outline: 2px solid var(--brand-primary);
        outline-offset: 2px;

        background-color: var(--brand-primary);
        color: white;
      }
    }
  }

  & + button {
    background-color: var(--brand-secondary);
    color: white;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;

    &:focus-visible {
      outline: 2px solid var(--brand-secondary);
      outline-offset: 2px;
    }

    &:active {
      scale: 0.95;
    }
  }
}

button.notifications {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 100dvh;
  transition: background-color 0.3s ease;

  anchor-name: --notifications;

  .count {
    position: absolute;
    position-anchor: --notifications;

    left: anchor(right);
    top: anchor(top);
    transform: translateX(-100%);

    width: 3ch;
    height: 3ch;
    display: grid;
    place-items: center;
    background-color: var(--brand-primary);
    color: white;
    border-radius: 100dvh;
    font-size: 12px;
    font-weight: 600;
  }

  & + [role='tooltip'] {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    position-anchor: --notifications;

    top: calc(anchor(bottom) + 0.25rem);
    left: anchor(center);
    transform: translateX(-50%);

    max-width: 30ch;
    background-color: var(--brand-secondary);
    border-radius: 0.25rem;
    color: white;
    padding: 0.25rem 0.5rem;
    font-size: 14px;
    text-align: center;
    user-select: none;

    transition: opacity 0.3s ease;
    transition-delay: 0.1s;
  }

  &:hover,
  &:focus-visible,
  &:has(+ [role='tooltip']:hover) {
    background-color: var(--brand-slate);
  }

  &:is(:hover, :focus-visible) + [role='tooltip'],
  & + [role='tooltip']:hover {
    opacity: 1;
    visibility: visible;

    transition-delay: 0s;
  }

  &:focus-visible {
    background-color: hsl(from var(--brand-slate) h s 85%);
    outline-color: transparent;
  }
}

button[data-toggletip] {
  background-color: var(--brand-secondary);
  color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  anchor-name: --demo-toggletip;

  &:focus-visible {
    outline: 2px solid var(--brand-secondary);
    outline-offset: 2px;
  }

  [role='status'] {
    position: absolute;
    position-anchor: --demo-toggletip;

    top: anchor(top);
    left: calc(anchor(right) + 0.5rem);

    max-width: 30ch;
    background-color: var(--brand-secondary);
    border-radius: 0.25rem;
    color: white;
    padding: 0.25rem 0.5rem;
    font-size: 14px;
    text-align: center;
    user-select: none;
    cursor: default;

    opacity: 1;
    transition: opacity 0.3s ease;

    &:empty {
      opacity: 0;
      transition-duration: 0s;
    }
  }
}
