@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');

@layer theme {
  :root {
    --brand-primary: oklch(0.6309 0.2351 24.27);
    --brand-secondary: oklch(0.1999 0.0173 264.07);
    --brand-slate: oklch(0.9551 0 0);

    --font-sans: 'Nunito', ui-sans-serif, system-ui, sans-serif !important;
  }
}

html {
  scroll-behavior: smooth;
  background: var(--brand-primary);
}

body {
  background-color: white;
  font-family: var(--font-sans);

  display: grid;
  grid-template-rows: auto 1fr auto;
}

header,
footer {
  background-color: var(--brand-primary);
  color: white;

  a:focus-visible {
    outline: 2px auto var(--brand-primary);
  }
}

main {
  padding-top: 2rem;
  padding-bottom: 3rem;
  scroll-margin-block-start: 72px;
}

button {
  cursor: pointer;
}

input,
textarea,
select {
  font-family: inherit;
  width: 100%;
}

summary {
  cursor: pointer;
  padding: 0.5rem;
  width: fit-content;
}

a:focus-visible {
  outline-offset: 4px;
  outline-color: var(--brand-secondary);
}

nav li a[aria-current='page'] {
  font-weight: 600;
  text-decoration: underline;
}

p {
  margin-block: 0.5rem;
}

hr {
  margin-block: 2rem;
}

section {
  h2,
  h3 {
    margin-bottom: 0.5rem;
    font-weight: 600;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  p {
    max-width: 80ch;
    text-wrap: pretty;
  }

  a {
    color: var(--brand-secondary);
    text-decoration: underline;
    font-weight: 600;
  }
}

hr {
  color: var(--brand-primary);
  border-top-width: 2px;
}

.container {
  margin-inline: auto;
  padding-inline: 12px;
}

.exercise {
  position: relative;
  width: fit-content;
  max-width: 75ch;
  padding: 1rem;
  padding-left: calc(1rem + 8px);
  border-radius: 0.5rem;
  background-color: #f0f0f0;
  border: 1px solid rgb(30 41 59 / 0.1);

  &::after {
    content: '';
    position: absolute;

    width: 8px;
    height: calc(100% + 1px);
    background: var(--brand-secondary);
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    top: -1px;
    left: -1px;
  }
}

.code-span {
  padding: 4px 6px;
  border-radius: 0.25rem;
  background-color: hsl(from var(--brand-slate) h s 85%);
  font-weight: bold;
  font-family: monospace;
}

.skip-link {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip-link:focus-visible {
  position: absolute;
  left: 50%;
  top: 1rem;
  transform: translateX(-50%);
  width: auto;
  height: auto;
  padding: 0.5rem 1rem;
  background: var(--brand-primary);
  outline: 2px auto var(--brand-primary);
  outline-offset: 2px;
  color: white;
  text-decoration: none;
  border-radius: 0.25rem;
  z-index: 9999;
  transition: top 0.4s ease;

  @media screen and (width < 1024px) {
    top: 5rem;
  }

  @media screen and (width < 780px) {
    top: 8rem;
  }

  @media screen and (width < 460px) {
    top: 10.5rem;
  }
}

@media screen and (width < 780px) {
  header {
    padding-bottom: 1.25rem;
  }

  main {
    padding-block: 3rem;
    scroll-margin-block-start: 112px;
  }

  p {
    margin-block: 1rem;
  }

  hr {
    margin-block: 2.5rem;
  }

  .container {
    padding-inline: 14px;
  }
}

@media screen and (width < 640px) {
  main {
    scroll-margin-block-start: 152px;
  }
}

@media screen and (width < 450px) {
  nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 1rem 0;
  }
}
