@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');

@layer theme {
  :root {
    --font-sans: 'Nunito', ui-sans-serif, system-ui, sans-serif !important;
  }
}

html {
  scroll-behavior: smooth;
  background: rgba(203, 213, 225, 0.3);
}

body {
  background-color: white;
  font-family: var(--font-sans);

  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  padding-block: 2rem;
  scroll-margin-block-start: 72px;
}

a:focus-visible {
  outline-offset: 4px;
}

a[aria-current='page'] {
  font-weight: 600;
  text-decoration: underline;
}

p {
  margin-block: 0.5rem;
}

hr {
  margin-block: 2rem;
}

section p {
  max-width: 80ch;
  text-wrap: pretty;
}

code {
  display: inline-block;
  margin-block: 0.5rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: #d7d7d7;
}

.container {
  margin-inline: auto;
  padding-inline: 12px;
}

.exercise {
  position: relative;
  width: fit-content;
  max-width: 75ch;
  padding: 1rem;
  padding-left: calc(1rem + 8px);
  border-radius: 0.5rem;
  background-color: #f0f0f0;
  border: 1px solid rgb(30 41 59 / 0.1);

  &::after {
    content: '';
    position: absolute;

    width: 8px;
    height: calc(100% + 1px);
    background: rgb(65, 65, 212);
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    top: -1px;
    left: -1px;
  }
}

.code-span {
  padding: 4px 6px;
  border-radius: 0.25rem;
  background-color: #cfcfcfbb;
  font-weight: bold;
  font-family: monospace;
}

@media screen and (width < 780px) {
  main {
    padding-block: 3rem;
    scroll-margin-block-start: 112px;
  }

  p {
    margin-block: 1rem;
  }

  hr {
    margin-block: 2.5rem;
  }
}

@media screen and (width < 640px) {
  main {
    scroll-margin-block-start: 152px;
  }
}
