button {
  padding: 0.5rem 1rem;
  border: 1px solid var(--brand-secondary);
  color: var(--brand-secondary);
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background: var(--brand-primary);
    border-color: var(--brand-primary);
    color: white !important;
  }

  &:active {
    scale: 0.95 !important;
  }

  /* Don't forget to eliminate redundant transitions for users that don't want them. */
  @media (prefers-reduced-motion: reduce) {
    transition: none !important;
  }
}

#focus-indicators {
  button:focus-visible {
    outline: none;
  }

  [focus-none] {
    &:focus-visible {
      outline: none;
    }
  }

  [focus-outline] {
    &:focus-visible {
      outline: 2px solid var(--brand-secondary);
    }
  }

  [focus-background] {
    transition:
      background 0.3s ease,
      color 0.3s ease;

    &:focus-visible {
      border-color: var(--brand-secondary);
      background: var(--brand-secondary);
      color: white;
    }
  }

  [focus-shadow] {
    box-shadow: 0 0 1px 3px transparent;
    transition: box-shadow 0.3s ease;

    &:focus-visible {
      outline: none;
      box-shadow: 0 0 3px 3px var(--brand-secondary);
    }
  }

  [focus-text] {
    &:focus-visible {
      color: var(--brand-secondary);
      text-decoration: underline;
    }
  }

  [focus-transform] {
    transition: scale 0.1s ease;

    &:focus-visible {
      scale: 1.05;
    }
  }
}
