body:has(.modal-backdrop:not(.hidden)) {
  overflow: hidden;
}

.modal-container {
  .modal-trigger {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid black;

    &:focus-visible {
      outline: 2px solid rgb(65, 65, 212);
    }

    &:active {
      scale: 0.95;
    }
  }
}

.modal-backdrop {
  position: fixed;
  inset: 0;
  isolation: isolate;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);

  display: none;
  opacity: 0;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-property: display, opacity;

  transition-behavior: allow-discrete;

  &:not(.hidden) {
    display: block;
    opacity: 1;

    @starting-style {
      opacity: 0;
    }
  }
}

[role='dialog'] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);

  &:focus {
    outline: none;
  }
}

[data-dismiss] {
  background: #ddd;
  border-radius: 100%;
  aspect-ratio: 1/1;
  width: 24px;
  font-weight: bold;
}
