dialog {
  margin: auto;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);

  display: none;
  opacity: 0;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-property: display, opacity;

  transition-behavior: allow-discrete;

  &[open] {
    display: block;
    opacity: 1;

    @starting-style {
      opacity: 0;
    }
  }
}
