.accordion {
  .accordion-trigger,
  .accordion-trigger::after,
  .accordion-panel,
  .accordion-panel-content {
    transition-duration: 0.2s;
    transition-timing-function: ease;
  }

  .accordion-trigger {
    position: relative;
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid #888;
    border-radius: 1rem;
    cursor: pointer;
    text-align: start;
    font-weight: 600;
    transition-property: color, background, border-color, border-radius;

    &::after {
      content: '';
      position: absolute;
      width: 10px;
      aspect-ratio: 1/1;
      right: 1rem;
      top: 50%;

      /* Custom chevron arrow with borders */
      border-right: 2px solid black;
      border-top: 2px solid black;
      border-radius: 2px;
      transform: translateY(calc(-50% + 2.5px)) scaleY(1) rotate(-45deg);

      transition-property: transform;
    }

    &:hover,
    &:focus-visible {
      background: rgb(65, 65, 212);
      border-color: rgb(65, 65, 212);
      outline: none;
      color: white;

      &::after {
        border-color: white;
      }
    }

    &[aria-expanded='true'] {
      border-radius: 1rem 1rem 0 0;

      &::after {
        transform: translateY(-50%) scaleY(-1) rotate(-45deg);
      }
    }
  }

  .accordion-panel {
    display: grid;
    overflow: hidden;
    grid-template-rows: 0fr;
    transition-property: grid-template-rows;
  }

  .accordion-panel-content {
    min-height: 0;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    opacity: 0;
    visibility: hidden;
    transition-property: opacity;
  }
}

.accordion:has(.accordion-trigger[aria-expanded='true']) {
  .accordion-panel {
    grid-template-rows: 1fr;
  }

  .accordion-panel-content {
    opacity: 1;
    visibility: visible;
    border-color: #888;
    border-top-color: transparent;
  }
}
